In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

#statistics tools
import statsmodels.api as sm
import scipy.stats as st
from scipy.stats import shapiro, mannwhitneyu, chi2_contingency

#scikit learn framework
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.naive_bayes import GaussianNB

import warnings

numpy version :  1.26.4
pandas version :  2.2.2
seaborn version :  0.13.2

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df.sample(10)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
4854,10.0,268.000000,2,7.0,24,551.666667,0.008333,0.020833,0.000000,0.0,May,2.0,2,1,2,Returning_Visitor,False,False
8823,0.0,0.000000,0,0.0,4,53.625000,0.000000,0.050000,0.000000,0.0,Nov,3.0,2,1,11,Returning_Visitor,False,False
11038,0.0,0.000000,0,0.0,23,736.233333,0.004545,0.013636,140.662137,0.0,Dec,1.0,8,1,11,New_Visitor,False,True
6951,4.0,82.000000,0,0.0,17,269.000000,0.034783,0.046377,0.000000,0.0,Jul,3.0,2,1,13,Returning_Visitor,False,False
4652,0.0,NaN,0,0.0,6,224.000000,0.000000,0.011111,0.000000,0.0,May,1.0,1,1,3,Returning_Visitor,True,False
7234,1.0,18.200000,0,0.0,22,NaN,0.009091,0.015909,0.000000,0.0,Oct,2.0,2,7,3,Returning_Visitor,False,False
4797,3.0,74.000000,0,0.0,8,129.000000,0.033333,0.072222,0.000000,0.0,May,3.0,2,3,3,Returning_Visitor,False,False
5192,1.0,10.500000,0,0.0,49,1747.125000,0.027660,0.048014,0.000000,0.2,May,2.0,4,1,4,Returning_Visitor,False,False
7613,1.0,19.200000,0,0.0,55,3134.066667,0.000000,0.006667,5.767420,0.0,Aug,2.0,4,1,1,Returning_Visitor,True,False
4952,7.0,170.833333,1,39.0,4,45.333333,0.000000,0.011111,0.000000,0.0,May,3.0,2,1,2,Returning_Visitor,False,False

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12946 entries, 0 to 12945
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12835 non-null  float64
 1   Administrative_Duration  12313 non-null  float64
 2   Informational            12946 non-null  int64
 3   Informational_Duration   12946 non-null  float64
 4   ProductRelated           12946 non-null  int64
 5   ProductRelated_Duration  12307 non-null  float64
 6   BounceRates              12872 non-null  float64
 7   ExitRates                12946 non-null  float64
 8   PageValues               12946 non-null  float64
 9   SpecialDay               12946 non-null  float64
 10  Month                    12946 non-null  object
 11  OperatingSystems         12422 non-null  float64
 12  Browser                  12946 non-null  int64
 13  Region                   12946 non-null  int64
 14  TrafficType              12946 non-null  int64
 15  VisitorType              12946 non-null  object
 16  Weekend                  12946 non-null  bool
 17  Revenue                  12946 non-null  bool
dtypes: bool(2), float64(9), int64(5), object(2)
memory usage: 1.6+ MB

In [5]:
df.isna().sum()

Administrative             111
Administrative_Duration    633
Informational                0
Informational_Duration       0
ProductRelated               0
ProductRelated_Duration    639
BounceRates                 74
ExitRates                    0
PageValues                   0
SpecialDay                   0
Month                        0
OperatingSystems           524
Browser                      0
Region                       0
TrafficType                  0
VisitorType                  0
Weekend                      0
Revenue                      0
dtype: int64

In [6]:
# Periksa nilai unik di setiap kolom
unique_values = df.nunique()
print("\nNumber of unique values in each column:")
print(unique_values)

Number of unique values in each column:
Administrative               27
Administrative_Duration    3223
Informational                17
Informational_Duration     1258
ProductRelated              311
ProductRelated_Duration    9126
BounceRates                1860
ExitRates                  4777
PageValues                 2704
SpecialDay                    6
Month                        10
OperatingSystems              8
Browser                      13
Region                        9
TrafficType                  20
VisitorType                   3
Weekend                       2
Revenue                       2
dtype: int64

In [7]:
df.duplicated().sum()

711

In [8]:
num = ['Administrative', 'Administrative_Duration', 'Informational', 'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration', 'BounceRates', 'ExitRates', 'PageValues']
cat = ['Month', 'OperatingSystems', 'Browser', 'Region', 'TrafficType','VisitorType', 'Weekend', 'Revenue', 'SpecialDay']

## Data Pre-processing

1. Missing Value

In [11]:
df = df.dropna()

In [12]:
df.isna().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11082 entries, 0 to 12945
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           11082 non-null  float64
 1   Administrative_Duration  11082 non-null  float64
 2   Informational            11082 non-null  int64
 3   Informational_Duration   11082 non-null  float64
 4   ProductRelated           11082 non-null  int64
 5   ProductRelated_Duration  11082 non-null  float64
 6   BounceRates              11082 non-null  float64
 7   ExitRates                11082 non-null  float64
 8   PageValues               11082 non-null  float64
 9   SpecialDay               11082 non-null  float64
 10  Month                    11082 non-null  object
 11  OperatingSystems         11082 non-null  float64
 12  Browser                  11082 non-null  int64
 13  Region                   11082 non-null  int64
 14  TrafficType              11082 non-null  int64
 15  VisitorType              11082 non-null  object
 16  Weekend                  11082 non-null  bool
 17  Revenue                  11082 non-null  bool
dtypes: bool(2), float64(9), int64(5), object(2)
memory usage: 1.5+ MB

2. Duplicated Data

In [15]:
df=df.drop_duplicates()

In [16]:
df.duplicated().sum()

0

3. Handling Outliers

TIdak dilakukan handling outlier karena cukup banyak kehilangan data dari outliers handling menggunakan z-score dan IQR, hal ini kemungkinan karena banyak data yang 0. Outliers tidak bisa
langsung di-drop karena data tersebut kemungkinan mewakili populasi tertentu.

4. Feature Transformation

Transformasi data akan dilakukan setelah pemilihan fitur dan pemisahan data menggunakan standarization agar model lebih robust terhadap outliers.

5. Feature Encoding

In [22]:
num = ['Administrative', 'Administrative_Duration', 'Informational', 'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration', 'BounceRates', 'ExitRates', 'PageValues']
cat = ['Month', 'OperatingSystems', 'Browser', 'Region', 'TrafficType','VisitorType', 'Weekend', 'Revenue', 'SpecialDay']

In [23]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Mengubah label encoding Month

# Definisikan urutan bulan yang diinginkan
bulan_urutan = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

# Buat dictionary untuk mapping bulan ke nilai numerik
mapping = {bulan: index for index, bulan in enumerate(bulan_urutan)}


# Lakukan mapping kolom 'Month'
df['Month_encoded'] = df['Month'].map(mapping)

In [24]:
# Mengubah label encoding Revenue dan Weekend
df['Revenue'] = df['Revenue'].astype('category').cat.codes
df['Weekend'] = df['Weekend'].astype('category').cat.codes

In [25]:
# Melakukan one hot pada feature VisitorType

# Assuming df is your DataFrame and 'VisitorType' is the column to be one-hot encoded
onehots = pd.get_dummies(df['VisitorType'], prefix='VisitorType', prefix_sep='_is')

# Bergabungkan one-hot encoded columns dengan DataFrame
df = df.join(onehots)

# Mengganti nilai True=1 dan False=0 secara manual jika diperlukan
df.replace({True: 1, False: 0}, inplace=True)

# Hapus kolom VisitorType_isOther karena sudah tidak dibutuhkan
df.drop('VisitorType_isOther', axis=1, inplace=True)

In [26]:
df.sample(10)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue,Month_encoded,VisitorType_isNew_Visitor,VisitorType_isReturning_Visitor
902,0.0,0.000000,0,0.0,25,585.000000,0.000000,0.016000,0.000000,0.0,...,4.0,1,1,3,Returning_Visitor,0,0,2,0,1
5291,0.0,0.000000,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.4,...,1.0,1,3,3,Returning_Visitor,0,0,4,0,1
3619,7.0,278.833333,2,15.0,38,2311.090909,0.004651,0.022868,4.247372,0.0,...,2.0,5,1,3,Returning_Visitor,0,0,4,0,1
5005,5.0,200.500000,0,0.0,49,837.416667,0.000000,0.008333,28.162750,0.0,...,2.0,2,1,3,New_Visitor,0,1,4,1,0
5982,2.0,9.000000,0,0.0,38,1147.696667,0.000000,0.027642,3.673829,0.0,...,2.0,2,4,1,Returning_Visitor,0,1,5,0,1
8929,6.0,69.125000,2,13.0,227,6854.604365,0.005702,0.020961,0.000000,0.0,...,2.0,2,1,1,Returning_Visitor,0,0,10,0,1
10071,1.0,31.500000,0,0.0,3,32.833333,0.000000,0.050000,0.000000,0.0,...,2.0,2,9,2,New_Visitor,1,0,11,1,0
4657,0.0,0.000000,2,131.0,36,868.416667,0.000000,0.001081,33.847784,0.0,...,3.0,2,7,2,New_Visitor,1,1,4,1,0
7739,7.0,380.800000,0,0.0,50,2653.196667,0.015686,0.027908,0.000000,0.0,...,2.0,2,2,1,Returning_Visitor,0,0,7,0,1
10627,0.0,0.000000,0,0.0,7,58.500000,0.000000,0.057143,0.000000,0.0,...,2.0,6,9,2,Returning_Visitor,0,0,10,0,1

- Untuk features : Browser, Region, TrafficType dan SpecialDay tidak dilakukan feature encoding (label encoder/one hot) diasumsikan feature tersebut sudah bernilai ordinal. 
- VisitorType_isOther hasil one hot dihapus untuk menghindari multikolinearitas pada modelling.

# Feature Engineering

### Feature Extraction

In [30]:
df['Session_Duration'] = df['Administrative_Duration'] + df['Informational_Duration'] + df['ProductRelated_Duration']

# Calculate Total Page Counts
df['Page_Count'] = df['Administrative'] + df['Informational'] + df['ProductRelated']

# Calculate Average Duration per Page
df['Avg_Duration_Per_Page'] = np.where(df['Page_Count'] > 0, df['Session_Duration'] / df['Page_Count'], 0)

# Display the first 3 rows of the DataFrame
display(df.sample(10))

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,...,TrafficType,VisitorType,Weekend,Revenue,Month_encoded,VisitorType_isNew_Visitor,VisitorType_isReturning_Visitor,Session_Duration,Page_Count,Avg_Duration_Per_Page
7585,1.0,45.400000,0,0.0,41,1227.713333,0.019512,0.041057,0.000000,0.0,...,3,Returning_Visitor,0,0,9,0,1,1273.113333,42.0,30.312222
6635,2.0,55.400000,2,96.8,26,600.573333,0.013793,0.022414,2.812474,0.0,...,2,Returning_Visitor,0,0,7,0,1,752.773333,30.0,25.092444
8155,2.0,84.000000,0,0.0,30,597.633053,0.006667,0.005926,0.000000,0.0,...,11,Returning_Visitor,1,0,10,0,1,681.633053,32.0,21.301033
558,0.0,0.000000,0,0.0,7,221.500000,0.000000,0.028571,0.000000,0.0,...,3,Returning_Visitor,0,0,2,0,1,221.500000,7.0,31.642857
11033,3.0,199.000000,0,0.0,34,1425.566667,0.000000,0.008824,0.000000,0.0,...,2,New_Visitor,0,1,10,1,0,1624.566667,37.0,43.907207
6399,0.0,0.000000,0,0.0,12,274.750000,0.000000,0.030556,0.000000,0.0,...,1,Returning_Visitor,0,0,10,0,1,274.750000,12.0,22.895833
4301,8.0,228.833333,1,61.0,66,1505.333333,0.000000,0.009110,0.000000,0.0,...,2,Returning_Visitor,0,0,4,0,1,1795.166666,75.0,23.935556
2661,0.0,0.000000,0,0.0,2,83.000000,0.000000,0.050000,0.000000,0.6,...,4,New_Visitor,0,0,4,1,0,83.000000,2.0,41.500000
425,0.0,0.000000,0,0.0,5,288.500000,0.000000,0.012500,0.000000,0.0,...,2,Returning_Visitor,1,0,2,0,1,288.500000,5.0,57.700000
5626,0.0,0.000000,0,0.0,3,275.000000,0.000000,0.050000,32.897015,0.0,...,2,New_Visitor,0,1,9,1,0,275.000000,3.0,91.666667

## Feature Tambahan untuk modelling :

### Session_Duration:
*Definisi*: Total waktu yang dihabiskan pengguna untuk berinteraksi dengan berbagai halaman selama satu sesi.<br>
*Alasan Memilih Fitur*: Durasi sesi yang lebih lama dapat menunjukkan pengguna yang lebih tertarik dan terlibat, yang seringkali berpotensi lebih tinggi untuk konversi. Fitur ini penting untuk meningkatkan akurasi model prediksi konversi pengunjung web.

### Page_Count:
*Definisi*: Total jumlah halaman (Administratif, Informasional, ProductRelated) yang diakses pengguna selama satu sesi.<br>
*Alasan Memilih Fitur*: Jumlah halaman yang tinggi menunjukkan eksplorasi yang lebih mendalam terhadap situs, yang bisa menjadi indikator kuat dari minat dan niat untuk konversi. Fitur ini membantu model prediksi dalam mengidentifikasi perilaku pengguna yang lebih cenderung melakukan konversi.

### Avg_Duration_Per_Page:
*Definisi*: Rata-rata waktu yang dihabiskan pada setiap halaman selama satu sesi.<br>
*Alasan Memilih Fitur*: Durasi rata-rata per halaman memberikan gambaran tentang seberapa intens pengguna berinteraksi dengan konten di setiap halaman. Pengguna yang menghabiskan lebih banyak waktu pada setiap halaman mungkin lebih tertarik dan lebih mungkin untuk melakukan konversi. Fitur ini meningkatkan kemampuan model prediksi dalam mengidentifikasi pengguna yang berpotensi tinggi untuk konversi.

#### Feature tambahan (selain dari dataset): 
1. Waktu Kunjungan Terakhir (Time Since Last Visit)
Definisi: Selang waktu antara kunjungan terakhir pengguna dan kunjungan saat ini. <br>
Alasan: Pengguna yang baru saja mengunjungi situs web mungkin lebih cenderung untuk melakukan konversi karena situs tersebut masih segar dalam ingatan mereka.

2. Rata-rata Nilai Transaksi Sebelumnya (Average Previous Transaction Value)
Definisi: Rata-rata nilai transaksi dari kunjungan sebelumnya untuk pengguna yang telah melakukan pembelian sebelumnya. <br>
Alasan: Pengguna yang memiliki riwayat transaksi dengan nilai tinggi mungkin memiliki probabilitas konversi yang lebih tinggi, serta cenderung melakukan pembelian dengan nilai yang lebih tinggi di masa depan.

3. Jumlah Item dalam Keranjang (Number of Items in Cart)
Definisi: Jumlah item yang ditambahkan ke keranjang belanja oleh pengguna selama sesi saat ini.<br>
Alasan: Pengguna yang menambahkan banyak item ke keranjang belanja mungkin menunjukkan niat yang lebih tinggi untuk melakukan pembelian.

4. Metode Pembayaran yang Disukai (Preferred Payment Method)
Definisi: Metode pembayaran yang paling sering digunakan oleh pengguna (misalnya, kartu kredit, PayPal, dll).<br>
Alasan: Pengguna dengan metode pembayaran yang jelas mungkin lebih cenderung untuk melakukan konversi karena mereka merasa nyaman dengan proses pembayaran.

5. Tanggal Sesi (Session Date)
Definisi: Tanggal di mana sesi pengguna terjadi.<br>
Alasan: Tanggal yang bertepatan dengan periode setelah penerimaan gaji dapat meningkatkan kemungkinan konversi, karena pengguna cenderung memiliki ketersediaan dana yang lebih tinggi untuk melakukan pembelian.

### Feature Selection

In [34]:
from sklearn.feature_selection import chi2
from sklearn.preprocessing import LabelEncoder


# Assuming df is your dataset containing the required columns
X = df[['Month_encoded', 'OperatingSystems', 'Browser', 'Region', 'TrafficType', 'VisitorType_isNew_Visitor', 'VisitorType_isReturning_Visitor', 'Weekend', 'SpecialDay']]
y = df['Revenue']

# Compute chi2 statistics
chi2_stats, p_values = chi2(X, y)

# Display results
results = pd.DataFrame({
    'Feature': X.columns,
    'Chi2 Statistic': chi2_stats,
    'P-value': p_values
})

results_sorted = results.sort_values(by='Chi2 Statistic', ascending=False)

# Display sorted results
print("Sorted Chi-squared statistics for feature selection:", X.columns)
print(results_sorted)

Sorted Chi-squared statistics for feature selection: Index(['Month_encoded', 'OperatingSystems', 'Browser', 'Region', 'TrafficType',
       'VisitorType_isNew_Visitor', 'VisitorType_isReturning_Visitor',
       'Weekend', 'SpecialDay'],
      dtype='object')
                           Feature  Chi2 Statistic       P-value
0                    Month_encoded      272.006036  4.146755e-61
5        VisitorType_isNew_Visitor      106.988348  4.477944e-25
8                       SpecialDay       48.875559  2.727282e-12
6  VisitorType_isReturning_Visitor       17.674558  2.621092e-05
2                          Browser       11.037620  8.928141e-04
7                          Weekend        5.285015  2.150971e-02
3                           Region        2.970102  8.481650e-02
1                 OperatingSystems        1.577184  2.091667e-01
4                      TrafficType        1.132595  2.872225e-01

Berdasarkan Uji Chi-square dipilih feature yang memiliki nilai korelasi tertinggi yaitu : Month_encoded, VisitorType_isNew_Visitor, SpecialDay, VisitorType_isReturning_Visitor, Browser, Weekend.

In [36]:
import pandas as pd
from sklearn.feature_selection import f_classif

# Assuming df is your DataFrame containing the columns mentioned
X_columns = ['Administrative', 'Administrative_Duration', 'Informational',
             'Informational_Duration', 'ProductRelated', 'ProductRelated_Duration',
             'BounceRates', 'ExitRates', 'PageValues', 'Session_Duration',	'Page_Count', 'Avg_Duration_Per_Page']

X = df[X_columns]
y = df['Revenue']

# Compute ANOVA F-value and p-values
f_scores, p_values = f_classif(X, y)

# Create a DataFrame to display results
results = pd.DataFrame({'Feature': X_columns, 'F-Score': f_scores, 'P-Value': p_values})

# Sort the results by F-score in descending order
results_sorted_by_fscore = results.sort_values(by='F-Score', ascending=False)

# Print the sorted table
print(results_sorted_by_fscore)

                    Feature      F-Score        P-Value
8                PageValues  3392.421621   0.000000e+00
7                 ExitRates   476.170013  2.857379e-103
10               Page_Count   288.449847   7.723687e-64
4            ProductRelated   268.013941   1.682447e-59
9          Session_Duration   247.645912   3.623151e-55
5   ProductRelated_Duration   235.339788   1.519804e-52
6               BounceRates   231.307308   1.101472e-51
0            Administrative   213.037792   8.790680e-48
1   Administrative_Duration    97.076404   8.381137e-23
2             Informational    87.005625   1.300665e-20
3    Informational_Duration    47.546238   5.682070e-12
11    Avg_Duration_Per_Page    17.884069   2.367749e-05

Berdasarkan Uji Annova dipilih feature yang memiliki nilai korelasi tertinggi yaitu :  PageValues, ExitRates, Page_Count, ProductRelated, Session_Duration.

### Class Imbalance

In [39]:
df['Revenue'].value_counts()

Revenue
0    8820
1    1648
Name: count, dtype: int64

In [40]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler, SMOTE

In [41]:
X = df[[col for col in df.columns if (str(df[col].dtype) != 'object') and col not in ['revenue', 'Revenue_True']]]
y = df['Revenue'].values
print(X.shape)
print(y.shape)

(10468, 22)
(10468,)

In [42]:
X_under, y_under = RandomUnderSampler(sampling_strategy=0.5).fit_resample(X, y)

X_over, y_over = RandomOverSampler(sampling_strategy=0.5).fit_resample(X, y)

X_over_SMOTE, y_over_SMOTE = SMOTE(sampling_strategy=0.5).fit_resample(X, y)

In [43]:
print('Original')
print(pd.Series(y).value_counts())
print('\n')
print('UNDERSAMPLING')
print(pd.Series(y_under).value_counts())
print('\n')
print('OVERSAMPLING')
print(pd.Series(y_over).value_counts())
print('\n')
print('SMOTE')
print(pd.Series(y_over_SMOTE).value_counts())

Original
0    8820
1    1648
Name: count, dtype: int64


UNDERSAMPLING
0    3296
1    1648
Name: count, dtype: int64


OVERSAMPLING
0    8820
1    4410
Name: count, dtype: int64


SMOTE
0    8820
1    4410
Name: count, dtype: int64

SMOTE adalah pilihan yang tepat dalam klasifikasi model dengan ketidakseimbangan kelas yang signifikan, seperti pada dataset ini. Dengan menciptakan sampel sintetis dari kelas minoritas, SMOTE secara efektif meningkatkan representasi data minoritas dalam dataset, yang memungkinkan model untuk belajar pola yang lebih baik dari kelas minoritas. Ini tidak hanya mengurangi risiko overfitting dengan memperluas variasi data minoritas, tetapi juga meningkatkan akurasi prediksi pada kelas minoritas.

In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import StandardScaler

# Assuming df is your DataFrame and the relevant columns are present
# Pastikan kolom yang disebutkan ada dalam DataFrame Anda
X = df[['Month_encoded', 'VisitorType_isNew_Visitor', 'SpecialDay', 'PageValues', 'ExitRates', 'Page_Count']]
y = df['Revenue']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Initialize SMOTE
smote = SMOTE(random_state=42)

# Apply SMOTE to the training data
X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)

# Initialize StandardScaler
scaler = StandardScaler()

# Fit and transform the training data
X_train_smote_scaled = scaler.fit_transform(X_train_smote)

# Only transform the test data
X_test_scaled = scaler.transform(X_test)

# Print the shapes to verify the scaling
print(f'Original training set shape: {X_train.shape}')
print(f'Resampled and scaled training set shape: {X_train_smote_scaled.shape}')
print(f'Test set shape: {X_test.shape}')
print(f'Scaled test set shape: {X_test_scaled.shape}')

# You can now proceed with model training and evaluation using X_train_smote_scaled and X_test_scaled

Original training set shape: (7327, 6)
Resampled and scaled training set shape: (12338, 6)
Test set shape: (3141, 6)
Scaled test set shape: (3141, 6)